<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head>
	<title>Filmes</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Filmes</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Título</th>
			<th>Data de lançamento</th>
			<th>Direção</th>
			<th>Nota</th>
			<th>Ações</th>
		</tr>
		<tr th:each="filme : ${filmes}">
			<td th:text="${filme.id}"></td>
			<td><a th:href="${(#mvc.url('detalhes').arg(0, filme.id)).build()}" th:text="${filme.titulo}"></a></td>
			<td th:text="${#dates.format(filme.dataLancamento, 'dd/MM/yyyy')}"></td>
			<td th:text="${filme.direcao}"></td>
			<td th:text="${filme.nota}"></td>
			<td><a th:href="${(#mvc.url('editar').arg(0, filme.id)).build()}">Editar</a> | <a th:href="${(#mvc.url('excluir').arg(0, filme.id)).build()}">Excluir</a></td>
		</tr>
	</table>
</body>
</html>