<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head th:include="fragments/modelo.html :: head">
</head>
<body>
	<th:block th:include="fragments/modelo.html :: navbar"></th:block>
	<div class="container mb-5">
		<h1 class="display-4 mt-5">Atores & atrizes</h1>
		<table class="table table-light table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Data de Nascimento</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ator : ${atores}">
					<td th:text="${ator.id}"></td>
					<td><a th:href="${(#mvc.url('atorDetalhes').arg(0, ator.id)).build()}" th:text="${ator.nome}"></a></td>
					<td th:text="${#dates.format(ator.dataNascimento, 'dd/MM/yyyy')}"></td>
					<td><a th:href="${(#mvc.url('atorEditar').arg(0, ator.id)).build()}">Editar</a> | <a th:href="${(#mvc.url('atorExcluir').arg(0, ator.id)).build()}">Excluir</a></td>
				</tr>
			</tbody>
		</table>
		<a href="/atores/novo" class="btn btn-lg btn-primary">Novo(a) ator/atriz</a>
	</div>
	<th:block th:include="fragments/modelo.html :: scripts"></th:block>
</body>
</html>